#navItem1 {
    font-family: "Roboto";
    color: #323f4b;
}

#navItem2 {
    font-family: "Roboto";
    color: #323f4b;
}

#navItem3 {
    font-family: "Roboto";
    color: #323f4b;
}

#navItem4 {
    font-family: "Roboto";
    color: #323f4b;
}

#navItem5 {
    font-family: "Roboto";
    color: #323f4b;
}

#navItem6 {
    font-family: "Roboto";
    color: #323f4b;
}

.bg-container {
    background-image: linear-gradient(#6f7682, #323f4b);
}

.main-heading-top {
    font-size: 28px;
    font-family: "Roboto";
    margin: 5px;
    font-weight: 300;
}

.hr-line {
    border-color: #aeb1b5;
    border-style: solid;
    border-width: 1px;
    margin: 5px;
}

.top-line-text {
    font-family: "Roboto";
    font-size: 15px;
    padding: 10px;
}

.profile-heading {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 300;
    margin: 5px;
    color: white;
}

.profile-sec {
    background-image: linear-gradient(#bf86cf, #825691);
}

.edu-sec {
    background-color: #4d6180;
}

.profile-image {
    border-radius: 200px;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.edu-head {
    font-family: "Roboto";
    font-size: 17px;
    color: white;
    margin: 5px;
    font-weight: bold;
}

.edu-text {
    color: white;
    font-size: 15px;
    font-family: "Roboto";
    margin: 5px;
}

.projects-sec {
    background-image: linear-gradient(#87a5bd, #6d8291);
}

.skills-sec {
    background-image: linear-gradient(#ae9ab5, #7f6887);
}

.contact-me-sec {
    background-image: linear-gradient(#6f7682, #323f4b);
}